h1 {
	font-family: 'Abel', sans-serif;
	text-align: center;
	font-size: 56px;
	margin-bottom: -10px;
	margin-top: 220px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid white;
}

.arrow {
	margin: auto;
	width: 10%;
} 

.tagline {
	font-family: 'Parisienne', cursive;
	text-align: center;
	position: relative;
	left: 150px;
}

@media only screen and (max-width: 590px) {
	.tagline {
		left: 0px
	}
	.arrow-down {
		display: none;
	}
}

body { 
   overflow-x: hidden;
}

#coming-soon {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 40px;
	font-family: 'Raleway', sans-serif;
}

.logo-font {
	font-weight: bold;
	font-family: 'Abel', sans-serif;
	font-size: 26px;
}

body {
	background-color: white;
}

.story-block {
	margin-top: 80px;
	padding-top: 50px;
}

.offer-block {
	margin-top: 50px;
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
}

.rale-font {
	font-family: 'Raleway', sans-serif;
	color: black;
}

.contrast-background {
	/*background-color: #f7f7f7;*/
	background-color: #323232;
	height: 230px;
  	width: 100%;
  	margin: 0 auto;
}

.contrast-background-ext {
	height: 180px;
}

.card-list {
	margin-bottom: 0;
}

a {
	color: white;
}

.find-title {
	text-align: right;
	color: white;
}

.find-block {
	padding-top: 30px;
}

.card-block {
	margin-bottom: 80px;
}

.footer-text {
	text-align: right;
	font-size: 12px;
	color: white;
}

.card {
	height: 330px;
}